@font-face {
  font-family: "Okuda";
  src: url("/okuda/Okuda.otf") format("opentype");
}
@font-face {
  font-family: "Okuda";
  src: url("/okuda/Okuda Bold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "Okuda";
  src: url("/okuda/Okuda Italic.otf") format("opentype");
  font-style: italic;
}
@font-face {
  font-family: "Okuda";
  src: url("/okuda/Okuda Bold Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  background: black;
  color: lightGray;
  font-family: "Okuda";
  font-size: 2rem;
  font-weight: italic;

  /* in order to ensure our parent container will retain full control of the browser viewport */
  overflow: hidden;
}

/* Style scrollbars */
* {
  scrollbar-width: thin;
  scrollbar-color: #333 black;
}

/* Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 1rem;
}
*::-webkit-scrollbar-track {
  background: black;
}
*::-webkit-scrollbar-thumb {
  background-color: #333;
  border: 3px solid black;
}
*::-webkit-scrollbar-corner {
  background-color: black;
}
